#ithr{
    color:rgb(74, 50, 22);
    background-color:rgb(49, 214, 153);
    align-items: center;
    width: 20%;
    padding: 0.1px;
    margin: 4px;
}
#ifou{
    color:rgb(74, 50, 22);
    background-color:rgb(49, 214, 153);
    align-items: center;
    width: 20%;
    padding: 0.1px;
    margin: 4px;
    
}
#ifiv{
    color:rgb(74, 50, 22);
    background-color:rgb(49, 214, 153);
    align-items: center;
    width: 20%;
    padding: 0.1px;
    margin: 4px;
}
#isix{
    color:rgb(74, 50, 22);
    background-color:rgb(49, 214, 153);
    align-items: center;
    width: 20%;
    padding: 0.1px;
    margin: 4px;
    
}
#isev{
    color:rgb(74, 50, 22);
    background-color:rgb(49, 214, 153);
    align-items: center;
    width: 20%;
    padding: 0.1px;
    margin: 4px;
    
}
#ieig{
    color:rgb(74, 50, 22);
    background-color:rgb(49, 214, 153);
    align-items: center;
    width: 20%;
    padding: 0.1px;
    margin: 4px;
    
}
#inin{
    color:rgb(74, 50, 22);
    background-color:rgb(49, 214, 153);
    align-items: center;
    width: 20%;
    padding: 0.1px;
    margin: 4px;
    
}
#iten{
    color:rgb(74, 50, 22);
    background-color:rgb(49, 214, 153);
    align-items: center;
    width: 20%;
    padding: 0.1px;
    margin: 4px;
    
}
#iele{
    color:rgb(74, 50, 22);
    background-color:rgb(49, 214, 153);
    align-items: center;
    width: 20%;
    padding: 0.1px;
    margin: 4px;
    
}
#itwe{
    color:rgb(74, 50, 22);
    background-color:rgb(49, 214, 153);
    align-items: center;
    width: 20%;
    padding: 0.1px;
    margin: 4px;
    
}
#eigh{
    color:rgb(74, 50, 22);
    background-color:rgb(66, 168, 168);
    align-items: center;
    width: 25%;
    padding: 0.1px;
    margin: 4px;
    
}
.bu{
    margin: 2px;
    padding:8px;
    background-color:rgb(7, 7, 7) ;
    color: rgb(201, 185, 11);
    width: 150px;
    border-radius: 5px;
    display: inline;

}