.top {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;  
}
a{
    text-decoration: none;
}
.end{
    margin-left: auto;
}
#left {
    height: 400px;
    width: 30%;
    border: 1px saddlebrown solid;
    border-radius: 5px;
    text-align:left;
}
.st{
    margin-left: 15px;
}
h4{
    margin-left: 10px;
}
#lo{
    margin: 2px;
    border: 2px rgb(165, 165, 253) solid;
    padding: 5px;
    height: 100px;
    width: 150px;
    margin-left: 40px;
    border-radius: 4px;
    color:rgb(69, 69, 248);
    align-items: center; 
}
#right {}