#div-1{
    background-color:blue;
}
#div-2{
    background-color: blueviolet ;
    position: sticky;
}
#div-3{
    background-color: brown;
    }
div{
    margin: 10px;
    border-radius: 10px;
    width: 75px;
    height: 75px;
    color: aliceblue;
    text-align: center;
    line-height: 70px;
    font-size: medium;
}
.sticky{
    width: 60px;
    height: 60px;
    background-color:gray ;
}