* {
    margin: 1px;
    padding: 1px;
}

body,
html {
    width: 100%;
    height: 100%;
    background-color: rgb(227, 232, 237);
}

.full {
    display: flex;
}

.menu {
    width: 20%;
    height: 200px;
    /* background-color: white; */
    margin-left: 10px;
    display: inline-block;

}

.up {
    display: flex;
    background-color: rgb(174, 190, 194);
    align-items: flex-end;
}

.img {
    margin-left: 5px;

}

.tab {
    margin-left: 30%;
    padding: 1px;
    text-align: right;
}

.down {
    background-color: white;
}

.anc {
    text-decoration: none;
    color: black;
    text-align: center;
    margin-left: 15px;
}

.anc:hover,
.por:hover {
    font-weight: bold;
    color: rgb(74, 74, 252);
}

.right {
    display: inline;
    width: 75%;
    background-color: rgb(227, 232, 237);
}

.top {
    margin-left: 50px;
    margin-top: 10px;
    width: 80%;
    background-color: white;
    border-radius: 5px;
    display: flex;
}

.taskbar {
    display: flex;
    margin-left: 5px;
}

.po {
    text-decoration: none;
}

.tasbar {
    display: inline;
    margin-top: 5px;
}

.por {
    text-decoration: none;
    color: black;
}

.container,
.row {
    display: flex;
    align-items: center;
    margin: 10px 15px 15px 15px;
}

.col {
    border: black solid;
    background-color: white;
    border-style: hidden;
    display: flex;
    border-radius: 5px;
    padding: 5px;
    height: 90px;
    width: 270px;
    margin: 0px 15px 15px 15px;
}

.co {
    display: inline-block;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    line-height: 10px;
}

.containers,
.rows {
    display: flex;
    align-items: center;
    margin: 10px 15px 15px 15px;
}

.colmn {
    background-color: white;
    display: flex;
    border-radius: 5px;
    height: 390px;
    width: 280px;
    margin: -45px 15px 15px 15px;
}

.par {
    font-size: 14px;
    color: gray;
    margin-top: -10px;
    margin-left: 10px;
}

.div {
    display: flex;
    font-size: 14px;
    margin-top: 11px;
    padding: 5px;
}

.image {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.colm {
    display: block;
    margin-left: 2px;
}

.inpt {
    width: 20px;
    height: 25px;
    margin-top: 6px;
    margin-left: 10px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);

#barChart {
    max-width: 600px;
    margin: 35px;
    background-color: white;
    margin-left: 50px;
    margin-top: 1px;
    width: 600px;
    height: 200px;
}

.upda {
    color: rgb(112, 112, 234);
    background-color: #d2ecf5;
    width: 150px;
    height: 17px;
    text-align: center;
    font-size: small;
    margin-right: -155px
}

.orde {
    display: flex;
    background-color: white;
    width: 280px;
    padding: 7px;
    height: 40px;
    margin: 5px;
    margin-top: 8px;
}

#areaChart {
    max-width: 990px;
    margin: 35px auto;
    background-color: white;
    margin-left: 50px;
    margin-top: 1px;
    width: 960px;
    border-radius: 2px;
}
.foot{
    background-color: white;
    width: 550px;
    height: 80px;
    margin-left: 50px;
    padding: 40px;

}
.footer{
    background-color: white;
    width: 300px;
    height: 158px;
    margin-left: 20px;
}