body {
    margin: 10px;
    width: 95%;
    height: 100%;
    border-radius: 2px;
}

.ful {
    display: flex;
    height: 100%;
}

.left {
    min-width: 200px;
    max-width: 40%;
    height: 600px;
    color: white;
    background-color: rgb(56, 47, 117);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.one {
    display: flex;
    margin-top: 10px;
}

.pri {
    margin-top: 20px;
    margin-left: 10px;
    color: rgba(255, 250, 250, 0.954);
}

ul {
    padding-left: 25px;
}

li {
    color: white;
    padding: 15px;
    display: block;
}

.poy {
    color: rgb(133, 157, 176);
    text-decoration: none;
}

.poy:hover{
    color: rgb(228, 227, 227);
    font-weight: bold;
}

.right {
    min-width: 85%;
    max-width: 80%;
    height: 600px;
    background-color: rgb(196, 193, 214);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

h2 {
    margin-left: 15px;
}

.pot {
    padding: 15px;
    display: inline;
    color: black;
}

a{
    color: black;
    padding: 3px;
    border-radius: 5px;
    font-weight: 500;
    text-decoration: none;
}

.por:hover {
    font-weight: bold;
    background-color: rgb(75, 75, 161);
}

.bot{
    min-width: 95%;
    height: 450px;
    margin: 10px;
    border-radius: 20px;
    background-color: rgb(222, 222, 222);
    display: flex;
}

label,input{
    margin-left: 15px;
    color: black;
    padding: 2px;
    border-radius: 5px;
    border-style: none;
    height: 20px;
    text-align:center;
}
.pow{
    margin-left: 99px;
}

.poa{
    width: 95%;
}
.pod{
    margin-left: 119px;
}
.pof{
    margin-left: 110px;
    margin-top: 10px;
    color: black;
    padding: 12px;
    border-radius: 12px;
    border-style: none;
    height: 20px;
}

button{
    width: 120px;
    height: 25px;
    font-weight: 550;
    margin-left: 120px;
    border-radius: 5px;
    border: 1px solid black;
    background-color:rgb(92, 76, 197); ;
}

@media screen and (min-width:254px) {
    body{
        background-color: rgb(237, 234, 252);
    }
    
    .right{
        width: 500px;
    }
    input{
        width: 100px;
    }
    .poa{
        width: 220px;
    }
    .pof{
        margin-left: 60px;
    }
    .pow{
        margin-left: 35px;
    }
}
@media screen and (min-width:546px) {
    body{
        background-color: rgb(237, 234, 252);
    }
    .right{
        width: 500px;
    }
    input{
        width: 150px;
    }
    .poa{
        width: 320px;
    }
    .pof{
        margin-left: 110px;
    }
    .pow{
        margin-left: 90px;
    }
}
@media screen and (min-width:768px) {
    body{
        background-color: rgb(237, 234, 252);
    }
    .ful{
        margin-left: 30px;
        width:700px;
    }
    .right{
        width: 500px;
    }
    input{
        width: 200px;
    }
    .poa{
        width: 420px;
    }
    .pof{
        margin-left: 150px;
    }
    .pow{
        margin-left: 140px;
    }
}

@media screen and (min-width:922x) {
    body{
        background-color: rgb(237, 234, 252);
    }
    .ful{
        margin-left: 100px;
        width:700px;
    }
    .right{
        width: 500px;
    }
    input{
        width: 200px;
    }
    .poa{
        width: 420px;
    }
    .pof{
        margin-left: 150px;
    }
    .pow{
        margin-left: 140px;
    }
}

@media screen and (min-width:1200px) {
    body{
            background-color: rgb(237, 234, 252);
    }
    .ful{
        margin-left: 230px;
        width:700px;
    }
    .right{
        width: 500px;
    }
    input{
        width: 200px;
    }
    .poa{
        width: 420px;
    }
    .pof{
        margin-left: 150px;
    }
    .pow{
        margin-left: 135px;
    }
} 