#one{
   padding-bottom: 60px;
   width: 60%;
   height: 100%;
   background-color:darkolivegreen;
}
h3{
   margin: 0px;
   background-color: darkcyan;
}

#student-form{
    width: 70%;
    margin:0px;
    text-align: left;
    border: 15px solid darkcyan;
    padding:1px 10px 10px 10px;
    background-color: gainsboro;
 }
 #student-form button{
   width: 100px;
    padding:5px;
    border-radius: 3px;
    color: cornflowerblue;
    background-color: gainsboro;
 }
 #student-form input{
    margin-left: 10px;
    width: 60%;
    max-width: 200px;
 }
